<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE project>
<widget id="com.ionicframework.myproject334440" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>DASH Demo App</name>
  <description>
        A DASH demo app using the Ionic Framework and Cordova.
    </description>
  <author email="plindner@uh.edu" href="http://www.housuggest.org/DASH/">
      DASH Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>