<ion-view title="Users"> <ion-content class="has-header">

<div class="buttons">
	<button class="button button-icon icon ion-ios7-minus-outline"
		ng-click="data.showDelete = !data.showDelete"></button>
	<button class="button button-icon icon ion-compose"
		ng-click="modal.show()"></button>
</div>

<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
<ion-item ng-repeat="user in $parent.users" type="item-text-wrap"
	href="#/tab/user/{{user.id}}">
{{user.username}} 
<ion-delete-button class="ion-minus-circled"
	ng-click="deleteUser(user.id)"> </ion-delete-button> 
	</ion-item> 
	</ion-list> 
	</ion-content> 
	<script
	id="modal.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New User</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <div class="padding">
            <div class="list">
			<label class="item item-input">
                <span class="input-label">First Name</span>
                <input ng-model="User.firstName" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input ng-model="User.lastName" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="User.username"" type="text">
              </label>              
              <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="User.password" type="text">
              </label>
              <button class="button button-full button-positive" ng-click="createUser()">Create</button>
            </div>
          </div>
        </ion-content>
      </div>
    </script> </ion-view>
